name: DevSecOps Pipeline

on:
  push:
    branches: main

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Install Trivy
        run: |
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
           wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
           echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/trivy.list
           sudo apt-get update
           sudo apt-get install trivy -y

      - name: Build Docker Image
        run: docker build -t flask-devops-app:latest .

      - name: Scan Docker Image
        run: trivy image flask-devops-app:latest

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Tag Image
        run: docker tag flask-devops-app:latest ${{ secrets.DOCKER_USERNAME }}/flask-devops-app:latest

      - name: Push Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/flask-devops-app:latest
